*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    .header & {
        display: flex;
        align-items: center;
    }
    
    .our-features & {
        display: flex;
    }
    
    .our-team &{
        display: flex;
        flex-direction: column;
    }
    
    .what-we-are-doing &{
        display: flex;
        flex-direction: column;
    }
}




